*{
    margin: 0;
    padding: 0;
}

.flex-container{
   display: flex;
    gap: 20px;
    padding: 20px;
    background-color: goldenrod;
    border: solid black;
}

.flex-item{
    background-color: green;
    border: solid black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
}